apiVersion: 1

datasources:
  - name: VictoriaMetrics
    uid: victoriametrics
    type: prometheus
    access: proxy
    url: http://127.0.0.1:8428
    isDefault: true
    editable: false

  - name: VictoriaLogs
    uid: victorialogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://127.0.0.1:9428
    editable: false

  - name: VictoriaTraces
    uid: victoriatraces
    type: jaeger
    access: proxy
    url: http://127.0.0.1:10428/select/jaeger
    editable: false
